
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    padding: 0 5%; 
    background: radial-gradient(ellipse at center, rgba(44,54,76,0.4) 0%, rgba(44,54,76,0.1) 100%); 
}

/* Style central box --must be here-- */

.box {
    box-shadow: 0 0 2rem 0.5rem rgb(23, 28, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hide__titles{
    transform: translateY(95%);
}

.box:nth-child(2n) {
    box-shadow: 0 0 1rem 0.5rem rgb(44, 54, 76);
    transform: scale(0.9);
    z-index: -1;
    margin: -2% 0;
}

.box:nth-child(4n + 1) {
    box-shadow: 0 0 1rem 0.5rem rgb(44, 54, 76);
    transform: scale(0.9);
    z-index: -1;
    margin: -5% 0;
}

.box--hide {
    display: none;
}


.move-out-from-left {
    animation: moveOutLeft 0.5s ease-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-out;
}


.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-out;
}

.move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-out;
}



.move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-out;
} 

@keyframes moveOutLeft {
    0% {
        transform: scale(0.9) translateY(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateY(-100%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateY(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.9) translateY(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.9) translateY(100%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.9) translateY(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.9) translateY(100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.9) translateY(100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.9) translateY(100%);
    }
    to {
        transform: scale(1) translateY(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateY(100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.9) translateY(100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.9) translateY(-100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.9) translateY(-100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}

@keyframes moveToP3Right {
    from{
        transform: scale(0.9) translateY(-100%);
    }
    to {
        transform: scale(1) translateY(0);
        
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateY(-100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.9) translateY(-100%);
    }
    to {
        transform: scale(0.9) translateY(0);
    }
} 

@media screen and (max-width: 375px) {
    .box{ 
        transition: none; 
    }
    .box:hover { 
        transform: none; 
    }
}


@media screen and (max-width: 1024px) {

    .box{ 
        transition: none; 
        transform: unset;
    }
    .box:hover { 
        transform: unset; 
    }

    .box:nth-child(2n) {
        box-shadow: 0 0 1rem 0.5rem rgb(44, 54, 76);
        transform: unset;
        z-index: -1;
        margin: 2% 0;
    }
    
    .box:nth-child(4n + 1) {
        box-shadow: 0 0 1rem 0.5rem rgb(44, 54, 76);
        transform: unset;
        z-index: -1;
        margin: 2% 0;
    }
    
    .box--hide {
        display: none;
    }
    
    
    .move-out-from-left {
        animation: moveOutLeft 0.5s ease;
    }
    
    .move-out-from-right {
        animation: moveOutRight 0.5s ease;
    }
    
    
    .move-to-position5-from-left {
        animation: moveToP5Left 0.5s ease;
    }
    
    .move-to-position4-from-left {
        animation: moveToP4Left 0.5s ease;
    }
    
    .move-to-position3-from-left {
        animation: moveToP3Left 0.5s ease;
    }
    
    .move-to-position2-from-left {
        animation: moveToP2Left 0.5s ease;
    }
    
    .move-to-position1-from-left{
        animation: moveToP1Left 0.5s ease;
    }
    
    
    
    .move-to-position5-from-right{
        animation: moveToP5Right 0.5s ease;
    }
    .move-to-position4-from-right{
        animation: moveToP4Right 0.5s ease;
    }
    .move-to-position3-from-right{
        animation: moveToP3Right 0.5s ease;
    }
    .move-to-position2-from-right{
        animation: moveToP2Right 0.5s ease;
    }
    .move-to-position1-from-right{
        animation: moveToP1Right 0.5s ease;
    } 
    
    @keyframes moveOutLeft {
        0% {
            transform: scale(1) translateY(0%);
            opacity: 1;
        }
        50% {
            transform: scale(1) translateY(-100%);
            opacity: 0.5;
        }
        100% {
            transform: scale(1) translateY(0%);
            opacity: 0;
        }
    }
    
    @keyframes moveOutRight {
        0% {
            transform: scale(1) translateY(0%);
            opacity: 1;
        }
        50% {
            transform: scale(1) translateY(100%);
            opacity: 0.5;
        }
        100% {
            transform: scale(1) translateY(0%);
            opacity: 0;
        }
    }
    
    
    @keyframes moveToP5Left {
        from {
            transform: scale(1) translateY(100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP4Left {
        from {
            transform: scale(1) translateY(100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP3Left {
        from {
            transform: scale(1) translateY(100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP2Left {
        from {
            transform: scale(1) translateY(100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP1Left {
        from {
            transform: scale(1) translateY(100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    
    @keyframes moveToP1Right {
        from {
            transform: scale(1) translateY(-100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP2Right {
        from {
            transform: scale(1) translateY(-100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP3Right {
        from {
            transform: scale(1) translateY(-100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP4Right {
        from {
            transform: scale(1) translateY(-100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    }
    
    @keyframes moveToP5Right {
        from {
            transform: scale(1) translateY(-100%);
        }
        to {
            transform: scale(1) translateY(0);
        }
    } 
    
    
        .box{ 
            transition: unset; 
        }
        .box:hover { 
            transform: unset; 
        }
   
    
  }

/* landscape mode */


  @media screen and (max-height: 375px) {

    .container {
 
        padding: 0 25%; 
    }
}