* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
  background: url(../img/bkg-4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

ul li {
  list-style: none;
}

/* player & title tab */

.player {
  max-width: 640px;
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.viewer {
  width: 100%;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

/* progress bar */

.player__button {
  position: absolute;
  background: none;
  border: 0;
  font-size: 3rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.678);
  text-align: center;
  outline: 0;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}

.player__button {
   transition: all .2s ease-in-out;
}
.player__button:hover {
  color: rgba(0, 0, 0, 0.493);
}

.box .titles__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  z-index: 1;
  min-height: 8vh;
  background: linear-gradient(to bottom, rgba(244,240,236,0.5) 0%, rgba(244,240,236,0.7) 100%);
  
}


.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 2% 5%;
  width: 100%;
  z-index: 1;
  color: #2C364C;
  line-height: 1.5;
}
li .text {
  display: flex;
  flex-direction: column;
}

h4 {
  text-transform: uppercase;
}
p {
  font-size: 1rem;
}


.fullsc__button {
  padding-left: 10px;
  background: none;
  border: 0;
  font-size: 1.2rem;
  line-height: 1;
  color: rrgba(17, 21, 30, 1) ;
  outline: 0;
  z-index: 1;
  cursor: pointer;
}

.fullsc__button {
   transition: all .2s ease-in-out;
}
.fullsc__button:hover {
  color: rgba(0, 0, 0, 0.493);
}





li:nth-child(3) .progress {
  width: 100%;
  height: 4px;
  background: rgba(0,0,0,0.5);
}

li:nth-child(3) .progress .progress__bar {
  width: 0%;
  height: 4px;
  background: tomato;
}




/* Nav Bar */


.nav__container {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgba(17, 21, 30, 1) 0%, rgba(13, 21, 30, 0.95) 60%, rgba(13, 21, 30, 0.75) 100%);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  
}

.logo {
  height: 2rem;
  transition: all .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.icons {
  height: 2rem;
  fill: #C6CFBC;
  transition: all .2s ease-in-out;
}

.icons:hover {
  transform: scale(1.2);
}

.nav-links {
  width: 1280px;
  display: flex;
  justify-content: space-evenly;
}
.nav-links li{
  list-style: none;

}

.footer-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(to top, rgba(17, 21, 30, 1) 0%, rgba(17, 21, 30, 0.7) 60%, rgba(17, 21, 30, 0) 100%);
  z-index: 10;
}

.logo-footer {
  display: none;
}


@media screen and (max-width: 1024px) {

  .fullsc__button{
    font-size: 2rem;
  }
  .box .titles__wrapper {

    line-height: 0.8rem;
  }

  li:nth-child(3) .progress {
    height: 3px;
  }
  li:nth-child(3) .progress .progress__bar {
    height: 3px;
  }

  .titles {
    padding: 1% 2% 1% 2%;
    min-height: 6vh;
    line-height: 1.4rem;
  }
  h4 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  p {
    font-size: 0.85rem;
  }

  .nav__container {
  background:  rgba(17, 21, 30, 0.9);
  width: 100%;
  min-height: 8vh;
  top: unset;
  padding: 2% 5%;
  bottom: 0;
  z-index: 2;
  }

  .nav-links li:first-child {
    display: none;
  
  }

  .icons {
    height: 24px;
  }

  .icons:hover {
    transform: scale(1.2);
  }

  .nav-links {
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-gradient {
    position: absolute;
    bottom: unset;
    top: 0;
    width: 100%;
    min-height: 12vh;
    background: linear-gradient(to bottom, rgba(13, 16, 14, 1) 0%, rgba(13, 16, 14, 0.7) 60%, rgba(13, 16, 14, 0.3) 100%);
    z-index: 2;
  
  }
  .logo-footer {
    margin: 3% 0 0 5%;
    display: unset;
    height: 36px;
    transition: all .2s ease-in-out;
  }
  
}

@media screen and (max-width: 768px) {

  .fullsc__button{
    font-size: 1.8rem;
  }

  .box .titles__wrapper {

    line-height: 0.8rem;
  }

  li:nth-child(3) .progress {
    height: 3px;
  }

  .titles {
    padding: 2% 2% 1% 2%;
    min-height: 6vh;
    line-height: 1.4rem;
  }

  h4 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  
  .player__button {
    font-size: 2rem;
  }

  .fullsc__button{
    font-size: 0.8rem;
  }

  .box .titles__wrapper {

    line-height: 0.8rem;
  }

  li:nth-child(3) .progress {
    height: 2px;
  }

  .titles {
    padding: 2% 2% 1% 2%;
    max-height: 10vh;
    line-height: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  p {
    font-size: 0.69rem;
  }
  .fullsc__button{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  
  .player__button {
    font-size: 2rem;
  }

  .fullsc__button{
    font-size: 0.8rem;
  }

  .box .titles__wrapper {

    line-height: 0.8rem;
  }

  li:nth-child(3) .progress {
    height: 2px;
  }

  .titles {
    padding: 1% 2% 1% 2%;
    max-height: 10vh;
    line-height: 0.8rem;
  }

  h4 {
    font-size: 0.69rem;
    text-transform: uppercase;
  }

  p {
    font-size: 0.6rem;
  }
  .fullsc__button{
    font-size: 0.8rem;
  }
}

/* end */
